html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
    font-size: 0.7rem;
    color: #0070f3;
    background-color: black;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
    &:hover{
      background-color: #f4d80b;
      color: #0a0b36;
    }
}

img {
  max-width: 100%;
  display: block;
}